/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*! ============================ !*/
/*! === ОБЩИЕ СТИЛИ СТРАНИЦЫ === !*/
/*! ============================ !*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-size: var(--font-size-main-text);
  font-variation-settings: var(--font-variation-regular);
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*! ============= !*/
/*! === ШАПКА === !*/
/*! ============= !*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

/* КОНТЕЙНЕР ЗАГОЛОВКА */
.header__title-container {
  font-family: var(--font-accent);
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 7.324rem + 0.751vw, 8rem) clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
}

/* ЗАГОЛОВОК */
.header__title-container__heading {
  font-size: var(--font-size-accent-heading);
}

/* ПОД-ЗАГОЛОВОК */
.header__title-container__sub-heading {
  font-size: var(--font-size-accent-sub-heading);
}

/*! ====================== !*/
/*! === ОСНОВНАЯ ЧАСТЬ === !*/
/*! ====================== !*/
.main {
  display: flex;
  flex-flow: column;
  gap: 50px;
}

/*! === КАРТОЧКА === !*/
.card {
  border: var(--border);
  background-color: var(--color-main);
}

/* ЗАГОЛОВОК КАРТОЧКИ */
.card__title {
  font-weight: var(--font-weight-bold);
  font-variation-settings: var(--font-variation-bold);
  padding: 0.25rem clamp(0.625rem, 0.317rem + 1.315vw, 1.5rem) 0.25rem 0.625rem;
}

/*! === КОНТЕЙНЕР КАРТИНКИ === !*/
.card__picture-container {
  position: relative;
}

/* ТЕКСТ ПОВЕРХ КАРТИНКИ */
.card__picture-container__text {
  font-family: var(--font-accent);
  font-size: var(--font-size-accent-text);
  position: absolute;
  top: 1.563rem;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  z-index: 2;
  color: var(--color-accent);
  mix-blend-mode: hard-light;
  opacity: 50%;
}

/* ОБВОДКА ТЕКСТА ПОВЕРХ КАРТИНКИ. ФОЛЛБЭК */
.card__picture-container__text-stroke {
    text-shadow:
      -1px 0 var(--color-main),
      0 1px var(--color-main),
      1px 0 var(--color-main),
      0 -1px var(--color-main);
    opacity: 50%;
}

/* ОБВОДКА ТЕКСТА ПОВЕРХ КАРТИНКИ. ПРОВЕРКА ПОДДЕРЖКИ */
@supports(-webkit-text-stroke: 1px var(--color-main)) or (text-stroke: 1px var(--color-main)) {
  .card__picture-container__text-stroke {
    -webkit-text-stroke: 1px var(--color-main);
    text-stroke: 1px var(--color-main);
    text-shadow: none;
    opacity: 50%;
  }
}

/* КАРТИНКА В КАРТОЧКЕ */
.card__picture {
  inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  block-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  object-fit: cover;
}

/* ФИЛЬТРЫ КАРТИНИКИ В КАРТОЧКЕ */
.card__picture-filter {
  filter: contrast(150%) saturate(1000%) hue-rotate(0.8turn);
}

.card__picture-filter__saturate {
  filter: saturate(30%);
}

.card__picture-filter__invert {
  filter: invert(100%);
}

.card__picture-filter__invert__sepia {
  filter: sepia(0.8);
}

.card__picture-filter__invert__hue {
  filter: hue-rotate(0.3turn);
}

.card__picture-filter__grayscale {
  filter: grayscale(80%);
}

.card__picture-filter__contrast {
  filter: contrast(23%);
}

/*! === КОНТЕЙНЕР ОПИСАНИЯ КАРТОЧКИ === !*/

.card__description {
  display: flex;
  flex-flow: column;
  padding: 25px;
  gap: 27px;
}

/* ОПИСАНИЕ КАРТОЧКИ. ТЕКСТ */
.card__text {
  line-height: 1.3125rem;
  font-variation-settings: var(--font-variation-regular);
}

/*! === КОНТЕЙНЕР С КНОПКАМИ ИКОНКИ СЕРДЦА И ЛАЙКА === !*/

.card__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 25px clamp(10.688rem, 3.535rem + 30.516vw, 31rem);
}

/*! === КНОПКА ИКОНКИ СЕРДЦА === !*/

.card__icon-button {
  background-color: var(--color-main);
  border: none;
  padding: 0;
  transition: outline 0.3s ease; /* детали анимации. используется при focus-visible */
}

.like-icon {
  padding-top: 3px;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--color-accent);
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  opacity: 0%;
}

/*! === СОСТОЯНИЯ ИКОНКИ СЕРДЦА === !*/

/* СЕРДЦЕ. FOCUS */
.card__icon-button:focus {
  outline: none;
}

/* СЕРДЦЕ. FOCUS-VISIBLE */
.card__icon-button:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: -3px;
}

/* СЕРДЦЕ (ЦЕЛИКОМ). HOVER  */
.card__icon-button:hover {
  cursor: pointer;
}

/* СЕРДЦЕ .CORE HOVER*/
.card__icon-button:hover .core {
  fill: var(--color-accent);
  transition-delay: 0s;
}

/* СЕРДЦЕ .MAIN-BODY HOVER */
.card__icon-button:hover .main-body {
  fill: var(--color-accent);
  transition-delay: 0.05s;
}

/* СЕРДЦЕ .CORE ACTIVE*/
.card__icon-button:active .core {
  fill: var(--color-heart-sparks);
  transition-delay: 0s;
}

/* СЕРДЦЕ .MAIN-BODY ACTIVE */
.card__icon-button:active .main-body {
  fill: var(--color-heart-sparks);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart-sparks);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart-sparks);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart-sparks);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  fill: var(--color-heart-sparks);
  animation: scale-heart 0.3s ease-in 0.1s normal;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s ease-in 0.3s normal;
}

/*! === КНОПКА LIKE === !*/
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

/*! === ОБЩИЙ СТИЛЬ КНОПОК === !*/

.button {
  background-color: var(--color-main);
  border: var(--border);
  position: relative;
  transition: box-shadow 0.3s ease; /* детали анимацияи. используются при focus-visible */
  overflow: hidden;
}

.button:hover {
  cursor: pointer;
}

/* СТИЛЬ ТЕКСТА КНОПКИ */
.button__text {
  font-family: var(--font-accent);
  font-size: var(--font-size-accent-text);
  position: relative;
  z-index: 3;
  color: var(--color-main);
  mix-blend-mode: difference;
}

/* ПСЕВДОЭЛЕМЕНТ КНОПКИ */
.button::after {
  content: "";
  background-color: var(--color-accent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  transform: translateX(-100%); /* находится слево от элемента, за его пределами */
  transition: transform 0.5s ease-in-out; /* детали анимации. используются при hover */
}

/* КНОПКА. HOVER */
.button:hover::after {
  transform: translateX(0%); /* выезжает слева направо, из-за пределеа эдемента */
}

/* КНОПКА. FOCUS */
.button:focus {
  outline: none; /* обнуление обводки */
}

/* КНОПКА. FOCUS-VISIBLE */
.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

/*! ===================== !*/
/*! ======= ПОДВАЛ ====== !*/
/*! ===================== !*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
}

/*! === КНОПКА СОХРАНИТЬ НА ПАМЯТЬ === !*/

.footer__save-button {
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.save-icon {
  mix-blend-mode: difference;
  z-index: 3;
}

/*! ============================= !*/
/*! ======= МОДАЛЬНОЕ ОКНО ====== !*/
/*! ============================= !*/
.window {
  padding: 1.875rem clamp(2.625rem, 2.889rem + -1.127vw, 1.875rem);
  background-color: var(--color-main);
  border: 2px #000 solid;
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  block-size: 11.938rem;
  overflow: hidden;
}

.window__container {
  align-items: center;
  min-width: 16.063rem;
  gap: 20px;
}

.window__save-icon {
  flex-shrink: 0;
}

.window-text {
  font-family: var(--font-accent);
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 150%;
}

.window__button {
  inline-size: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  block-size: 2.375rem;
  margin-top: 30px;
}

.window[open] .window, .window__container {
  display: flex;
}

.window::backdrop {
  background-color: var(--color-accent);
  opacity: 75%;
}

/*! ============================ !*/
/*! ======== АДАПТИВНОСТЬ ======= !*/
/*! ============================ !*/

/* МОБИЛЬНЫЕ */
@media (max-width: 375px) {
  .header, .main {
    inline-size: 100vw;
  }

  .footer__save-button {
    display: flex;
    flex-flow: column;
  }
}

/* ДЕСКТОПЫ */
@media (min-width: 376px) {
  .header, .main {
    inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  }

  .footer__save-button {
    display: flex;
    flex-flow: row;
  }
}