:root {
    /* шрифты */
    --font-main: 'Inter', sans-serif;
    --font-accent: 'PressStart2P', fantasy;

    /* вес вариативного шрифта */
    --font-weight-regular: 'wght' 400;
    --font-weight-bold: 'wght' 700;

    /* размер шрифтов */
    --font-size-main-text: 1.125rem;
    --font-size-accent-text: 0.875rem;
    --font-size-accent-heading: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --font-size-accent-sub-heading: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);

    /* обводка карточек и кнопок */
    --border: 2px solid var(--color-accent);

    /* цвета */
    --color-main: #fff;
    --color-accent: #000;
    --color-heart-contour: black;
    --color-heart-sparks: #ff0000;

    /* фоновый градиент */
    --page-background:
        repeating-linear-gradient(to right,
            #d3d3d3,#d3d3d3 2px, 
            transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom,
            #d3d3d3,#d3d3d3 2px,
            transparent 2px, transparent 4px),
        linear-gradient(to bottom,
            #e7e7e7 0.01%,#1a1a1a);
}